{% extends 'base.html.twig' %}
{% block title %}Entreprise{% endblock %}

{% block body %}

  <div class="container border">
       {% if editMode %}
      <div  class="container m-2 bg-warning">
        Vous êtes dans: Modification !!!
      </div>
      {% else %}
      <div  class="container m-2 bg-info">
        Vous êtes dans: Vue d'enssemble
      </div>
      {% endif %}
  <section class="row">
  <table class="table">
    <thead>
      <tr>
          <th>#</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Telephone</th>
          <th>E-mail</th>
          <th>Adresse</th>
          <th>Poste</th>
          <th>Salaire</th>
          <th>Date de naissance</th>
          <th>Option</th>
      </tr>
    </thead>
    <tbody>
    {% for salaries in salaries %}
      <tr>
        <td>{{ salaries.id }}</td>
        <td>{{ salaries.prenom }}</td>
        <td>{{ salaries.nom }}</td>
        <td>{{ salaries.telephone }}</td>
        <td>{{ salaries.email }}</td>
        <td>{{ salaries.adresse }}</td>
        <td>{{ salaries.poste }}</td>
        <td>{{ salaries.salaire }}</td>
        <td>{{ salaries.datedenaissance|date('d/m/Y') }}</td>
        <td>
          <a href="{{ path('salarie_edit', {id: salaries.id}) }}">
              <img src="assets/img/edit.png" alt="" width="20px">
          </a>
          <a href="{{ path('salarie_delete', {id: salaries.id}) }}">
              <img src="assets/img/delete.png" alt="" width="20px">
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <hr>
  {{ form_start(form) }}
  <div class="container row m-1">
    <div class="col">
      {{ form_row(form.prenom, {
      label: "Prénom",
      attr: {
        placeholder: "Prénom",
        message:"need"
      }
    }) }}
    </div>
    <div class="col">
      {{ form_row(form.nom, {
      label: "Nom",
      attr: {
        placeholder: "Nom"
      }
    }) }}
    </div>
    <div class="col">
      {{ form_row(form.telephone, {
      label: "Téléphone",
      attr: {
        placeholder: "Numéro de téléphone"
      }
    }) }}
    </div>
    <div class="col">
      {{ form_row(form.email, {
      label: "E-mail",
      attr: {
        placeholder: "Adresse E-mail"
      }
    }) }}
    </div>
  </div>
  <div class="container row m-1 mb-3">
    <div class="col">
      {{ form_row(form.adresse, {
      label: "Adresse",
      attr: {
        placeholder: "Adresse"
      }
    }) }}
    </div>
    <div class="col">
      {{ form_row(form.poste, {
      label: "Poste",
      attr: {
        placeholder: "Poste"
      }
    }) }}
    </div>
    <div class="col">
      {{ form_row(form.salaire, {
      label: "Salaire",
      attr: {
        placeholder: "Salaire"
      }
    }) }}
    </div>
    <div class="col">
      {{ form_row(form.datedenaissance, {
      label: "Date de naissance"
      }) }}
    </div>
    <div class="col">
      {% if editMode %}
    <button type="submit" class="btn btn-warning mt-2 mb-2">
        Enregistrer les modifications
      </button>
      {% else %}
    <button type="submit" class="btn btn-info mt-2 mb-2">
        Créer ce compte
      </button>
      {% endif %}
    </div>
  </div>
  {{ form_end(form) }} 
  </section>
  </div>
{% endblock %}
